body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

#members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-container {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.members-list {
    flex: 1;
    margin-right: 20px;
}

.members-list h2, .members-list h3 {
    margin: 10px 0;
}

.members-list ul {
    list-style: none;
    padding: 0;
}

.members-list li {
    cursor: pointer;
    padding: 5px 0;
}

.member-details {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member-details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
